@font-face {
    font-family: adobefont;
    src: url(adobefont);
}
@font-face {
    font-family: adobefont-regular;
    src: url(adobefont-regular);
}
body {
    font-family: adobefont,brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif
}
.container {
    width: 48%;
    margin: auto;
    padding: 1.35rem 0;
    text-align: center;
}
.flex {
    display: flex;
    justify-content: space-between;   
}
header {
    padding: 1rem auto;
    background-color: #e0ebe8;
}
.logo {
    height: 4.75rem;
    width: auto;
}

header nav ul {
    list-style: none;
}
header nav ul li{
    display: inline-block;
    margin-right: 1.5rem;
    font-size: 1.25rem;
    font-weight: 100;
}
a {
    text-decoration: none;
    color: #45b29a;
}

a:hover{
    color: #21564b;
}
.active {
    color: #21564b;
}
.sec1 {
    background-color: #e0ebe8;
    height: 35rem;
    overflow: hidden;
}
.sec1-c {
    padding-bottom: 0;
    height: 100%;
}
.top {
    text-align: center;
    position: relative;
    /*overflow: hidden;*/
}
.top .title {
    font-weight: 400;
    font-size: 1.25;
}
.title {
    color: #45b29a;
    font-weight: 600;
    font-size: 1.5rem;
}
.main-title {
    color: #1e836c;
    text-align: center;
    font-size: 3.8em;
    font-weight: 400;
    margin-bottom: 6rem;
}
.cloud-1 {
    position: absolute;
    top: 1rem;
    right: .5rem;
    background-image: url(../imgs/cloud.svg);
    background-repeat: no-repeat;
    width: 10rem;
    height: 10rem;
}
.cloud-2 {
    position: absolute;
    background-image: url(../imgs/cloud.svg);
    background-repeat: no-repeat;
    width: 10rem;
    height: 10rem;
    top: 11rem;
    left: .5rem;
}
.bottom {
    position: relative;
    bottom: -4.75rem;
}


footer {
    background-color:#bedfd7;
    height: 8.5rem;
    padding: 2rem 0;
}

footer nav ul {
    list-style: none;
    margin-bottom: 2rem;
}
footer nav ul li {
    display: inline-block;
    margin-right: 4rem;
    font-size: 1.25rem;
    font-weight: 400;
}
nav ul li:nth-last-child(1) {
    margin-right: 0;
}
footer p {
    font-size: 0.75rem;
    font-weight: 300;
    color: #45b29a;
}
.link {
    border-bottom: solid 2px #45b29a;
    padding-bottom: .15rem;
}

.link:hover {
    border-bottom: solid 2px #21564b;
    transition: ease-in .2s all;
}
.img {
    height: 10rem;
    width: auto;
    padding-top: 5rem;
}
.img1 {
    height: 5rem;
    width: auto;
    padding-bottom: 2rem;
}
.item4 .img1 {
    margin-right: 4rem;
}
.item1 .img1 {
    margin-left: 4rem;
}
.description {
    text-align: center;
    margin: 0 12rem;
    font-weight: 300;
    color: #545454;
    font-size: 1.3em;
    line-height: 2.25rem;
    font-family: adobefont-regular;
}
.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 3rem 3rem;
    text-align: left;
    justify-content: center;
    justify-items: center;
    width: 80%;
    margin: auto;
}
.grid div .description {
    text-align: left;
    margin: auto 0;
    font-size: 1.12em;
}
.grid .img {
    padding-top: 0;
}
.about .title {
    font-weight: 600;
    font-size: 1.5rem;
}
.contact {
    margin: auto auto 4rem auto;
    text-align: center;
}
.contact .main-title{
    margin-bottom: 3.5rem;
}

.btn {
    display: block;
    margin: auto;
    width: 10rem;
    color: #1b7f69;
    background-color: #45b29a;
    text-transform: uppercase;
    padding: .75em 2em .75em 3.5em;
    margin-top: 2rem;
    border-radius: .25rem;
    position: relative;
    text-align: center;
    font-family: adobefont-regular;
}
.email {
    background-image: url(../imgs/mail@2x.png);
    background-size: 24px 15px;
    height: 15px;
    width: 24px;
    left: 11%;
    top: 33%;
    position: absolute;
}
.line {
    background-image: url(../imgs/line-bg@2x.png);
    background-repeat: repeat;
    width: 6.3rem;
    height: .8rem;
    margin: 6rem auto 2rem auto;
    text-align: center;
}
.notes {
    margin: 4rem auto 0 auto;
}
.hero {
    height: 18rem;
    background-color: #e0ebe8;
    position: relative;
    overflow: hidden;
}
.notes-img {
    width: 12rem;
    height: auto;
}
.hero .cloud-1{
    right: 28rem;
    top: 50%;
}
.hero .cloud-2{
    left: 28rem;
    top: 30%;
}
.flag {
    position: absolute;
    bottom: 0;
}
.flag-left {
    left: 35%;
}
.flag-right {
    right: 37%;
}
.notes h2 {
    font-weight: 400;
    font-size: 1.25;
}
.notes .main-title {
    margin-bottom: 0;
}
.notes img {
    width: 100%;
    display: block;
    margin: 3rem auto;
}
.sub-container {
    width: 70%;
    margin: auto;
    text-align: center;
}
.notes .description {
    text-align: left;
    width: 100%;
    margin: 2rem 0;
    font-size: 1.25rem;
}
.lead {
    font-size: 2rem;
    font-weight: 300;
    text-align: left;
    line-height: 3.5rem;
    color: #545454;
}
.work {
    margin-bottom: 4.5rem;
}
.work .description {
    width: 48%;
    margin: auto;
}
.sec2 {
    background-color: #7dcc93;
    padding-bottom: 2rem;
}
.sec2 img {
    width: 100%;
    display: block;
    margin: 3rem auto;
}
.sec2 .btn {
    background-color: #2b3d51;
    color: #fff;
    padding: .75em 2em;
}
.sec2 h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.1;
    margin: .4rem auto;
}
.sec2 h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin: 0 auto .5rem auto;
    padding: 0 .5em  1.5em;
}

.sec2 .sub-container {
    width: 80%;
}
.sec2 p {
    color: #fff;
    width: 80%;
    margin: auto;
    font-weight: 100;
}
.sec3 {
    background-color: #f76160;
}
.sec4 {
    background-color: #f8c687;
}

@media only screen and (max-width: 991px)
{
    .container {
        width: 95%;
        padding: auto;
    }
    .sec2 p, .work .description, .description {
        margin: 0  0  1.5rem 0;
        width: 100%;
    }
    .grid {
        width: 100%;
        grid-gap: 2rem 2rem;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto;
    }
    .grid div .description {
        text-align: center;
    }
    .item4 {
        grid-row: 3 / span 1;
    }
    .sub-container {
        width: 100%;
    }
    .lead {
        font-size: 1.5rem;
        font-weight: 200;
        line-height: 1.4;
        margin: 0  0  1.5rem 0;
    }
    .notes h1 {
        font-size: 2.5rem;
        font-weight: 300;
        margin: 0;
    }
    .title {
        text-align: center;
    }
    .main-title {
        margin-bottom: 4rem;
    }
    .bottom .land{
        width: 100%;
    } 
    /*.bottom {
        bottom: -14.56rem; 
        display: none;
    } */
    .cloud-1 {
        top: 15rem;
    }
    .cloud-2 {
        top: 20rem;
    } 
}